/* Base Styles */
/* body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    color: #333;
} */



.container_12 {
    width: 93%;
    margin-left: 47px;
    overflow: hidden;
}

.container_13 {
    width: 80%;
    height: 230px;
    margin-left: 50px;
    overflow: hidden;
    text-align: left;
    top: -14px;
    position: relative;
    animation-name: move2;
    animation-duration: 1.5s;
    animation-iteration-count: 1;
}

@keyframes move2 {
    from{
        transform:translateX(-200px);
    }
    /* to{
        transform:translateY(-50px);
    } */
    
}

.container_14 {
    height: 410px;
    margin: auto;
    overflow: hidden;
    text-align: left;
    animation-name: move1;
    animation-duration: 1.5s;
    animation-iteration-count: 1;
}

@keyframes move1 {
    from{
        transform:translateY(100px);
    }
    /* to{
        transform:translateY(-50px);
    } */
    
}

/* Header Styles */
header {
    background: rgb(6, 14, 35);
    z-index:6;
    color: #ffffff;
    width:100%;
    padding: 20px 0;
    /* border-bottom: #e8491d 3px solid; */
}

header .logo {
    float: left;
    width: 450px;
}

header .logo h1 {
    margin: 0;
}

header nav {
    float: right;
}

header nav ul {
    padding: 0;
    list-style: none;
}

header nav ul li {
    display: inline;
    padding: 0 20px;
}

header nav ul li a {
    text-decoration: none;
    font-size: 20px;
    font-weight: 500;
    margin: 0 0 30px 0;
    color: #f8fafc;
}

header nav ul li a:hover{
    color:rgb(40, 176, 226);
}

/* Hero Section */
.hero {
    /* background: url("../../public/images/healthcare-banner-portrait-doctors-consultation-260nw-2260731979.png") no-repeat center center/cover; */
    color: #050505;
    height:562px;
    padding: 100px 0;
    text-align: center;
}

.hero h2 {
    margin-top: 0;
    font-size: 48px;
}

.hero p {
    font-size: 20px;
    margin: 20px 0;
    position: relative;
    top: -32px;
}

.hero .btn {
    color: #ffffff;
    background: var(--primarycolor);
    padding: 10px 20px;
    text-decoration: none;
    text-transform: uppercase;
    border-radius: 5px;
    position: relative;
    top: -23px;
}

.btnp {
    color: #ffffff;
    background: var(--primarycolor);
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 5px;
    border:0px;
    font-size: 20px;
}

/* Services Section */
#services1 {
    background: #ffffff;
    text-align: center;
}

.services-grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.service {
    flex-basis: 22%;
    text-align: center;
    padding: 20px;
    margin: 10px;
    background-color: #d8ebfa;
    border-radius: 10px;
    box-shadow: 10px 10px 10px rgb(222 210 210);
    transition: transform 0.3s, box-shadow 0.3s;
}

.service i {
    font-size: 48px;
    margin-bottom: 10px;
    color: var(--primarycolor);
}

.service:hover {
    transform: translateY(-10px);
    box-shadow: 0 10px 15px rgba(0, 0, 0, 0.1);
}

/* About Section */
#about1 {
    padding: 50px 0;
    /* background: #f4f4f4; */
    text-align: center;
}

#about1 p {
    max-width: 800px;
    margin: auto;
}

/* Doctors Section */
#doctors {
    background: #ffffff;
    text-align: center;
    /* background-image: url('https://static.storyweaver.org.in/illustrations/58816/large/3.jpg');
    background-repeat: no-repeat;
    background-size: 1900px; */
}

.doctor_banner{
    background-image: url('../../public/images/Screenshot_27.png');
    background-repeat: no-repeat;
    background-size: 1280px;
    height:600px;
    opacity:1;
}

.services_banner{
    background-image: url('https://png.pngtree.com/thumb_back/fh260/background/20240526/pngtree-asian-doctor-give-consult-online-image_15731303.jpg');
    background-repeat: no-repeat;
    background-size: 1280px;
    height:600px;
    opacity:1;
}

.about_banner{
    background-image: url('https://d1w7gvu0kpf6fl.cloudfront.net/img/category/images/75-category-image.jpg');
    background-repeat: no-repeat;
    background-size: 1280px;
    height:600px;
    opacity:1;
}

#doctors1 {
    padding: 50px 0;
    background: #ffffff;
    text-align: center;
}

.doctors-grid {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.doctor {
    text-align: center;
    flex-basis: 43%;
    margin-bottom: 20px;
    background-color: #d8ebfa;
    border-radius: 10px;
    box-shadow: 10px 10px 10px rgb(222 210 210);
    transition: transform 0.3s, box-shadow 0.3s;
}

.doctor img {
    width: 100%;
    height: 200px;
    border-radius: 9px;
    margin-bottom: 10px;
    /* margin-top: 25px; */
}

/* .doctor:hover {
    transform: translateY(-10px);
    box-shadow: 0 10px 15px rgba(0, 0, 0, 0.1);
} */

/* Contact Section */
#contact {
    padding: 50px 0;
    background: #f4f4f4;
    text-align: center;
}

#contact ul {
    list-style: none;
    padding: 0;
}

#contact ul li {
    margin: 10px 0;
    font-size: 18px;
}

#contact ul li i {
    margin-right: 10px;
}

/* Footer Styles */
footer {
    background: rgb(6, 14, 35);
    color: #ffffff;
    text-align: center;
    padding: 20px 0;
}

footer p {
    margin: 10px 0;
}

footer a {
    color: var(--primarycolor);
    text-decoration: none;
}

.why-us .content {
    padding: 30px;
    background: #1977cc;
    border-radius: 4px;
    color: #fff;
  }
  
  .why-us .content h3 {
    font-weight: 700;
    font-size: 34px;
    margin-bottom: 30px;
    margin-top: 21px;
    color: #fff;
  }
  
  .why-us .content p {
    margin-bottom: 30px;
  }
  
  .why-us .content .more-btn {
    display: inline-block;
    background: rgba(255, 255, 255, 0.2);
    padding: 6px 30px 8px 30px;
    color: #fff;
    border-radius: 50px;
    transition: all ease-in-out 0.4s;
  }
  
  .why-us .content .more-btn i {
    font-size: 14px;
  }
  
  .why-us .content .more-btn:hover {
    color: #1977cc;
    background: #fff;
  }
  
  .why-us .icon-boxes .icon-box {
    text-align: center;
    border-radius: 10px;
    background: #fff;
    box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.1);
    padding: 40px 30px;
    width: 100%;
    height: 353px;
  }
  
  .why-us .icon-boxes .icon-box .icon {
    font-size: 40px;
    color: #1977cc;
    margin-bottom: 30px;
  }
  
  .why-us .icon-boxes .icon-box h4 {
    font-size: 20px;
    font-weight: 700;
    margin: 0 0 30px 0;
    color: #2c4964;
  }
  
  .why-us .icon-boxes .icon-box p {
    font-size: 15px;
    color: #848484;
  }

  .row{
    --bs-gutter-x: 1.5rem;
    --bs-gutter-y: 0;
    display: flex;
    flex-wrap: wrap;
    margin-left: calc(var(--bs-gutter-x)* -.5);
    margin-right: calc(var(--bs-gutter-x)* -.5);
    margin-top: calc(var(--bs-gutter-y)* -1);
  }

#about {
    background: #ffffff;
    text-align: center;
}

#about p {
    max-width: 800px;
    margin: auto;
    font-size: 18px;
    line-height: 1.6;
}

#about h2 {
    color: #fafcfd;
}

#about h3 {
    margin-top: 30px;
    font-size: 24px;
    color: #fafcfd;
}

#about ul {
    list-style-type: none;
    padding: 0;
    max-width: 800px;
    margin: 20px auto;
    text-align: left;
    color:white;
}

#about ul li {
    font-size: 18px;
    margin-bottom: 10px;
}

#about ul li strong {
    color: #faf2ef;
}

/* Team Section */
.team-grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-top: 30px;
}

.team-member {
    flex-basis: 22%;
    text-align: center;
    margin-bottom: 20px;
    background-color: #d8ebfa;
    border-radius: 10px;
    box-shadow: 10px 10px 10px rgb(222 210 210);
    transition: transform 0.3s, box-shadow 0.3s;
}

.team-member img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    margin-bottom: 10px;
    margin-top: 25px;
}

.team-member h4 {
    font-size: 20px;
    margin-bottom: 5px;
    color: #35424a;
}

.team-member p {
    font-size: 16px;
    color: #666;
}

.team-member:hover {
    transform: translateY(-10px);
    box-shadow: 0 10px 15px rgba(0, 0, 0, 0.1);
}

.container24 {
    width: 90%;
    margin: auto;
    overflow: hidden;
}

#services {
    background: #ffffff;
    text-align: center;
}

#services p {
    text-align: center;
    font-size: 18px;
    line-height: 1.6;
    margin:20px;
}

#services h2 {
    margin-bottom: 30px;
    color: #070707;
}

.services-grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-top: 30px;
}

.service-item {
    flex-basis: 30%;
    text-align: center;
    margin-bottom: 20px;
    border-radius: 10px;
    background-color: #d8ebfa;
    transition: transform 0.3s, box-shadow 0.3s;
}

.service-item img {
    width: 100%;
    height: 200px;
    border-radius: 9px;
    margin-bottom: 15px;
}
.service-item h3 {
    font-size: 22px;
    margin: 20px;
    color: #fcfcfd;
}

.service-item p {
    font-size: 16px;
    color: #fcfcfd;
}

.service-item:hover {
    transform: translateY(-10px);
    box-shadow: 0 10px 15px rgba(0, 0, 0, 0.1);
}







