* {
    margin: 0px;
}

.card2{
    height:auto;
    width:261px;
    border:3px solid rgb(14, 37, 86);
    border-radius: 10px;
    text-align: center;
    box-shadow: 10px 10px 24px;
    box-sizing: border-box;
    float: left;
    margin: 29px;
    padding: 10px;
}
h4{
    padding:5px;
}
h3{
    padding:5px;
}

.card13{
    height: 396px;
    width: 387px;
    border:3px solid rgb(14, 37, 86);
    border-radius: 10px;
    text-align: center;
    box-shadow: 1px 5px 14px;
    box-sizing: border-box;
    float: left;
    margin: 17px;
    padding: 10px;
}
.card_child{
    height: 181px;
    width: 198px;
    border-radius: 10px;
    text-align: center;
    box-sizing: border-box;
    float: left;
    margin: -9px;
    padding: 1px;
}

.img1{
    height: 240px;
    border-radius: 10px;
    width:100%;
    padding-bottom :24px;
}

.img1_1{
    border-radius: 10px;
    width: 160px;
    float: left;
    margin: 17px;
}

.img1:hover {
    transition: .5s ease;
    opacity: 0.6;
}

.star_img{
    position:relative;
    bottom:-4px;
    height:20px;
    width:20px;
}


.button1{
    background-color: rgb(14, 37, 86);
    color: white;
    font-size: 17px;
    border-radius: 10px;
    height: 43px;
    width: 240px;
}

.green{
    color:green;
}

#menu{
    height:1555px;
    width:300px;
    top:88px;
    background-color: rgb(2 100 181);
    border-right: 2px solid gray;
    float: left;
}

.list1{
    list-style-type: none;
}

.options{
    text-decoration: none !important;
    color:rgb(251, 251, 253);
    font-size: 122%;
}

#contentarea{
    height: auto;
    width:auto;
    background-color: white;
    border-right: 2px solid gray;
    float: left;
}

#content{
    height:1555px;
    width: auto;
    background-color: rgb(254, 253, 253);
}



#form-container .form {
  }

  .input-box {
    margin-top: 20px;
    display:flex;
    align-items: center;
  }

  .form :where(.input-box input) {
    width: 320px;
    margin-top: 15px;
    height: 50px;
    padding-left: 15px;
    font-size: 16px;
    font-weight: 500;

  }

  .input-box label {
    color: gray;
    margin-top: 15px;
    margin-right:10px;
  }

  .form .column {
    display: flex;
    column-gap: 15px;
  }

  input[type="submit"] {
    margin-top: 30px;
    height: 50px;
    width: 100%;
    background-color: skyblue;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 20px;
    cursor: pointer;
  }




  #form-main-container {
    height: 100vh;
    /* display: flex; */
    align-items: center;
    justify-content: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
  }

  #form-container {
    width: 909px;
    height: auto;
    background-color: white;
    padding: 25px;
    border-radius: 5px;
  }

  #form-container .header-form {
    font-size: 30px;
    color: gray;
    text-align: center;

  }

  #form-container .form {
  }

  .input-box {
    margin-top: 10px;
  }

  /* .form :where(.input-box input) {
    width: 100px;
    margin-top: 20px;
    height: 50px;
    width: 100%;
    padding-left: 15px;
    font-size: 16px;
    font-weight: 500;

  } */

  .input-box label {
    color: gray;
    margin-top: 15px;
  }

  .form .column {
    display: flex;
    column-gap: 15px;
  }

  input[type="submit"] {
    margin-top: 30px;
    height: 50px;
    width: 100%;
    background-color: rgb(2 100 181);
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 20px;
    cursor: pointer;
  }

  input[type="submit"]:hover{
    background-color: rgb(14, 37, 86);
  }
