.container1{
    /* width: 64%; */
    background-color: rgb(6, 14, 35);
    height:551px;
    /* border: 3px solid #177cc8; */
    /* border-radius: 8px; */
    /* margin-top: 20px;
    margin-bottom: 20px; */
    display:flex;
    padding: 0;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    animation: transitionIn-Y-over 0.5s;

}

.header-text{
    font-weight: 600;
    font-size: 30px;
    letter-spacing: 1px;
    margin-bottom: 10px;
    margin-top:3px;
    color:#28b0e2

}

.sub-text{
    font-size: 15px;
    color: white;
    margin-top:3px;
}

.form-label{
    color: white;
    text-align: left;
    font-size: 14px;
}
.label-td{
    text-align: left;
    padding-top: 10px;
}

.hover-link1{
    font-weight: bold;
}


.hover-link1:hover{
    opacity: 0.8;
    transition: 0.5s;


}.login-btn1{
    /*margin-top: 15px;*/
    margin-bottom: 15px;
    width: 100%;
}

.loginimg{
    border-radius:0 25px 25px 0;
    width:659px;
}
.loginform1{
    padding-left:200px;
    width:100%;
}

@media screen and (max-width: 700px){
    .loginimg{
        /* border-radius:0 25px 25px 0; */
        width:0px;
    }
    .loginform1{
        padding-left:130px;
        width:100%;
    }
  }