
  
  #header{
    height: 126px;
    align-items: center;
    display: flex;
    justify-content: center;
  }
  
  .login1{
    width:350px;
    height:auto;
    border: 5px solid rgb(14, 37, 86);
    border-radius: 10px;
    box-shadow: 10px 10px 24px;
    margin:auto;
    padding:20px;
  }
  
  .submit_button{
    border-radius: 10px;
    box-shadow: 10px 10px 24px;
    background-color: rgb(14, 37, 86);
    color:white;
    height: 36px;
    width: 344px;
    font-size: 18px;
    margin:auto;
  }

  .loader1 {
    border: 12px solid #f3f3f3;
    border-top: 12px solid var(--primarycolor);
    border-radius: 50%;
    width: 50px;
    height: 50px;
    animation: spin 2s linear infinite;
    margin: 20px auto 20px auto;
    /* margin-top: 20px;
    margin-bottom: 20px; */
  }
  
  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }